.git
.gitignore
README.md
*.pyc
__pycache__
.DS_Store
.env
.venv
venv/
*.log
tmp/
temp/
.ipynb_checkpoints
*.ipynb
notebooks/
dvc.lock
data/snapshots.dvc
images/
documentations/
*.csv
*.pkl
*.joblib
*.h5
*.pth
*.pt
logs/
docker/