services:
  # FastAPI
  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    container_name: churn-api-jaw
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB_USER=${POSTGRES_DB_USER}
      - POSTGRES_DB_NAME=${POSTGRES_DB_NAME}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_HOST=${POSTGRES_HOST}               
      - API_KEY_SECRET=${API_KEY_SECRET}
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - AZURE_CLIENT_ID=${AZURE_CLIENT_ID}
      - AZURE_TENANT_ID=${AZURE_TENANT_ID}
      - AZURE_CLIENT_SECRET=${AZURE_CLIENT_SECRET}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  trainer:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    command: python retrain.py
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB_USER=${POSTGRES_DB_USER}
      - POSTGRES_DB_NAME=${POSTGRES_DB_NAME}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_HOST=${POSTGRES_HOST}   
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - AZURE_CLIENT_ID=${AZURE_CLIENT_ID}
      - AZURE_TENANT_ID=${AZURE_TENANT_ID}
      - AZURE_CLIENT_SECRET=${AZURE_CLIENT_SECRET}
    deploy:
      replicas: 0   