version: "3.11"

services:
  # TRAINING SERVICE
  train:
    build:
      context: .
      dockerfile: docker/train/Dockerfile
    container_name: churn-train
    volumes:
      - ./models:/app/models
      - ./data:/app/data
      - ./artifacts:/app/artifacts
      - ./logs:/app/logs
    environment:
      - PYTHONPATH=/app
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - mlflow
      - db
    command: >
      python -m src.models.utils.wait_for_services db 5432 http://mlflow:5000 &&
      python src/models/train_xgb.py

  # MLFLOW SERVICE
  mlflow:
    build:
      context: .
      dockerfile: docker/mlflow/Dockerfile
    container_name: mlflow
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri postgresql+psycopg2://mlflow_user:mlflow_pass@db:5432/mlflow_db
      --default-artifact-root /app/artifacts
    ports:
      - "8080:5000"
    volumes:
      - ./mlruns:/app/mlruns
      - ./artifacts:/app/artifacts
    depends_on:
      - db

  # API SERVICE
  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    container_name: churn-api-jaw
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - train
      - mlflow
    environment:
      - POSTGRES_HOST=jaw-postgresdb.postgres.database.azure.com
      - POSTGRES_PORT=5432
      - POSTGRES_DB_NAME=postgres
      - POSTGRES_DB_USER=jawpostgresdb
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PYTHONPATH=/app
      - MODEL_DIR=/app/models
      - DATA_DIR=/app/data
      - LOG_LEVEL=INFO
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    volumes:
      - ./models:/app/models
      - ./data:/app/data
    depends_on:
      - mlflow
      - db
    command: >
      python -m src.models.utils.wait_for_services db 5432 http://mlflow:5000 &&
      uvicorn src.api.main:app --host 0.0.0.0 --port 8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  # DATABASE SERVICE
  db:
    image: postgres:15
    container_name: mlflow-db
    environment:
      POSTGRES_USER: mlflow_user
      POSTGRES_PASSWORD: mlflow_pass
      POSTGRES_DB: mlflow_db
    ports:
      - "5432:5432"
    volumes:
      - mlflow-db-data:/var/lib/postgresql/data

volumes:
  mlflow-db-data:
