name: CI/CD TEST Pipeline
run-name: CI/CD Pipeline - by @${{ github.actor }}

on:
  push:
    branches: ["main"]
    paths: 
      - '**/*.py'
      - 'requirements.txt'
      - 'Dockerfile*'
      - 'docker-compose.yml'
      - '.github/workflows/**'
  pull_request:
    branches: ["jordan_branch"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest
      
      #  Validate Docker Build 
      - name: Build Docker Image (Validation Only)
        run: |
          # Use a generic tag just to confirm the build succeeds
          docker build -t churn-predictor:ci-test .
        